.button.is-primary {
    background-color: #ff69b4;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #ff69b4;
}
.button.is-primary.is-inverted[disabled], fieldset[disabled] .button.is-primary.is-inverted {
    color: #ff69b4;
}
.button.is-primary[disabled], fieldset[disabled] .button.is-primary {
    background-color: #ff69b4;
}
.hero.is-primary {
    background-color: #ffc0cb;
}