td, th {
    width: 20px;
    height: 20px;
}

td.corner {
    width: 80px;
    height: 80px;
}

/* http://www.htmq.com/style/border.shtml */
td.visible-success {
    background-color: hsl(141, 53%, 53%);
    border: 2px solid black;
}

td.visible-danger {
    background-color: hsl(348, 100%, 61%);
    border: 2px solid black;
}

td.invisible {
    border: 2px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}
